.status-badge {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.pending {
  background-color: yellow;
  color: black;
}

.resolved {
  background-color: green;
  color: white;
}

.cancelled {
  background-color: red;
  color: white;
}

.custom-card {
  background-color: #ffffff;
  max-width: 1000px;
  margin: 5px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.custom-card .custom-table th {
  color: #ac2358; /* Change this color to your desired header text color */
}